body {
    font-family: 'PT Sans';
    max-width: 1920px;
    min-width: 1000px;
    margin: 0%;
}

.header {
    font-weight: 700;
    font-size: 24px;
    background-color: #202846;
    box-sizing: border-box;
    position: relative;


}

.header_logo {
    position: absolute;
    top: 20%;
    left: 10%;
}

.header_nav {
    list-style: none;
    display: flex;
    justify-content: right;
    align-items: center;
    box-sizing: border-box;
    padding: 1% 4%;
    margin: 0%;
}


.header_nav>li {
    display: inline-block;
    padding: 0%;
    margin: 0;
}




.header_nav>li:nth-child(1),
.header_nav>li:nth-child(2),
.header_nav>li:nth-child(3),
.header_nav>li:nth-child(4),
.header_nav>li:nth-child(5) {
    border-right: 3px solid #FFFFFF;

}

.header_nav>li:nth-child(1),
.header_nav>li:nth-child(2),
.header_nav>li:nth-child(3),
.header_nav>li:nth-child(4) {
    padding: 1%;
    box-sizing: border-box;
}

.header_nav>li:nth-child(5) {
    padding: 0 1%;
    box-sizing: border-box;
}


.header_nav>li>a {
    text-decoration: none;
    color: #FFFFFF;
}

.buttom {
    background-color: #C6C6DC;
    font-style: italic;
    font-weight: 400;
    font-size: 48px;
    padding: 2% 10%;
    box-sizing: border-box;

}

div.buttom>a {
    text-decoration: none;
    color: #202846;

}

/* main */


.main {
    background-color: #E5E5E5;
    padding: 2% 0;
}

.main_card {
    background-color: #BDBDC6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2% 10%;
    padding: 2% 3%;
    position: relative;
    box-sizing: border-box;
    height: 300px;


}

.main-card_image {
    width: 40%;
}

.main-card_image>img {
    width: 100%;

}

.main-card_content {
    width: 60%;
    margin-left: 5%;
}

.main-card_text {
    font-weight: 400;
    font-size: 22px;
    background-color: #D7D7DD;
    text-align: center;
    padding: 3%;
    box-sizing: border-box;
    margin-top: 2%;

}


.main-card_h3 {
    font-style: italic;
    font-weight: 700;
    font-size: 36px;
    color: #353C57;
    padding-top: 3%;
    box-sizing: border-box;

}

.main-card_line {
    border-bottom: 3px solid #FFFFFF;

}

.main-card_star {
    position: absolute;
    top: 5%;
    left: 95%;
}

.svg:hover path {
    fill: gold;

}

.main-card_buttom {
    font-weight: 400;
    font-size: 24px;
    background-color: #202846;
    width: 200px;
    border-radius: 33px;
    padding: 1%;
    text-align: center;
    position: absolute;
    top: 85%;
    left: 90%;
}

div.main-card_buttom>a {
    text-decoration: none;
    color: #FFFFFF;
}

/* footer */

.footer {
    background-color: #202846;
    color: #EEECF1;
    font-style: italic;
    font-weight: 400;
    font-size: 36px;
    padding: 1% 3%;
}

.top {
    position: fixed;
    width: 101px;
    height: 101px;
    right: 150px;
    bottom: 100px;
}