body {
    margin: 0 auto;
}

form {
    padding-left: 45px;
    min-width: 700px;
    max-width: 1000px;
    background-color: #F9F9F9;
    height: 2600px;
}

h1 {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    padding-top: 65px;
}

.h2 {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    padding-top: 79px;
}

h4 {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    padding-top: 25px;
}

.col1 {
    display: inline-block;
    padding-top: 25px;
}

.col2,
.col3 {
    display: inline-block;
    padding-left: 45px;
}

.col4 {
    display: inline-block;
    padding-top: 30px;
}

.col5 {
    display: flex;
    padding-top: 60px;
}

.col6 {
    display: inline-block;
    padding-left: 45px;
}

.col1 label,
.col2 label {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #171717;
}

.col3 label,
.col4 label {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #171717;
    padding-left: 8px;
    width: 54px;
    height: 24px;
    vertical-align: super;
}

.col5 label {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #171717;
    padding-left: 8px;
    width: 368px;
}

.col6 label {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #171717;
}

.col1>input.grey,
.col2>input.grey {
    background-color: #EFEFEF;
    color: #747474;
    border: 1px solid #ADADAD;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    background-image: url(/hw6/img/calendar-line.png);
    background-repeat: no-repeat;
    background-position: 370px;
}

.col1>input.arrow,
.col2>input.arrow,
.col6>input.arrow {
    background-image: url(/hw6/img/arrow-down.png);
    background-repeat: no-repeat;
    background-position: 370px;
}

.col1>input.search,
.col2>input.search {
    background-image: url(/hw6/img/search-line.png);
    background-repeat: no-repeat;
    background-position: 370px;
}

.col1 input,
.col2 input,
select {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #171717;
    display: block;
    background: #FFFFFF;
    border: 1px solid #ADADAD;
    box-sizing: border-box;
    border-radius: 4px;
    width: 400px;
    height: 40px;
    padding-left: 10px;
    margin-top: 8px;
}

.col3 input,
.col4 input,
.col5 input {
    width: 24px;
    height: 24px;
}

.col6 input {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #171717;
    display: block;
    background: #FFFFFF;
    border: 1px solid #ADADAD;
    box-sizing: border-box;
    border-radius: 4px;
    width: 400px;
    height: 40px;
    padding-left: 10px;
    margin-top: 8px;
}

span {
    color: #D83933;
}

option {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #171717;
}

.line {
    width: 845px;
    border-bottom: 1px solid #D1D1D1;
    padding-top: 30px;
}

.button {
    width: 70px;
    height: 40px;
    background: #0050D8;
    border-radius: 4px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
    margin-left: 780px;
    margin-top: 20px;
}