body {
    margin: 0;
    padding: 0;
    background-color: #212529;
    min-height: 5000px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 50px 0 50px;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item>a,
.header-btn {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    text-transform: capitalize;
    text-decoration: none;
    color: #FFFFFF;
    padding: 25px 12.5px;
    box-sizing: border-box;
    transition: all .4s;
}

.nav-item>a:hover {
    color: #FFB742;
}

.nav-item>a:active,
.header-btn:active {
    font-size: 32px;
}

.header-btn {
    color: #212529;
    padding: 12px 26px;
    background-color: #FFB742;
    border-radius: 50px;
}

.header-btn:hover {
    cursor: pointer;
}

.card_1 {
    display: flex;
    color: #FFFFFF;
    text-transform: capitalize;
    flex-direction: column;
    align-items: center;
}

.card_1 .one {
    position: relative;
    margin-top: 104px;
}

.card_1 .one a {
    color: #FFB742;
}

.card_1 .one svg {
    position: absolute;
    left: 0;
    top: 5px;
}

.card_1 .text_one {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 51px;
}

.card_1 .two {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 91px;
}

.card_1 .three {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 51px;
    padding-top: 25px;
}

.card_1 .four {
    padding-top: 22px;
}

.card_2 {
    display: flex;
    color: #FFFFFF;
    text-transform: capitalize;
    align-items: center;
    justify-content: center;
    margin-top: 140px;
    padding: 0 70px;
}

.card_2 .one,
.card_2 .two,
.card_2 .three {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 416px;
    padding: 25px 30px;
    background: rgba(56, 62, 69, 0.44);
    border-radius: 10px;
    margin: 0 12px;
}

.card_2 .text {
    text-align: center;
}

.card_2 .text_one {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #FFB742;
}

.card_2 .text_two {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 31px;
}

.card_2 .one:hover,
.card_2 .two:hover,
.card_2 .three:hover {
    color: #000000;
    background-color: #FFB742;
    transition: all 0.4s;
    cursor: pointer;
}

.card_2 .one:active,
.card_2 .two:active,
.card_2 .three:active {
    height: 50px;
}

.card_2 .one:hover .text_one,
.card_2 .two:hover .text_one,
.card_2 .three:hover .text_one {
    color: #000000;
}

.card_2 .one:hover path,
.card_2 .two:hover path,
.card_2 .three:hover path {
    fill: #000000;
}

.card_3 {
    display: flex;
    color: #FFFFFF;
    margin-top: 140px;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 680px;
}

.about .one {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    color: #FFB742;
    padding: 6px 25px;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 50px;
    width: 148px;
    text-align: center;
}

.about .two {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 30px;
    color: #FFFFFF;
    padding-left: 10px;
    padding-top: 10px;
}

.about .three {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #D5D5D5;
    padding-left: 10px;
    padding-top: 30px;
}

.about .four {
    padding-top: 55px;
}

.card_4 {
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
    align-items: center;
    margin-top: 65px;
    justify-content: center;
}

.card_4 .one {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    color: #FFB742;
    padding: 6px 25px;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 50px;
    width: 160px;
    text-align: center;
}

.card_4 .two {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    color: #FFFFFF;
}

.card_4 .three {
    display: flex;
    padding-top: 30px;
    align-items: center;
    justify-content: center;
}

.card_4 .three .navi {
    margin: 0 12px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    color: #FFFFFF;
    text-transform: capitalize;
    padding: 5px 20px;
    border-radius: 3px;
}

.card_4 .three .navi:hover {
    background-color: #FFB742;
    color: #212529;
    transition: all 0.4s;
    cursor: pointer;
}

.card_4 .three .navi:active {
    font-size: 22px;
}

.card_4 .four {
    padding-top: 50px;
}

.card_4 .four img {
    margin: 0 16px 16px 16px;
}

.card_4 .five img {
    margin: 16px 16px 0 16px;
}

footer {
    margin-top: 110px;
    height: 470px;
    background-color: #1C1C1C;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 150px 50px 0 50px;
}

.col_1 .row_1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    color: #FFB742;
}

.col_1 .row_2 {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
    color: #D4D4D4;
    padding-top: 30px;
    max-width: 250px;
}



.col_2 .row_1,
.col_3 .row_1,
.col_4 .row_1 {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;
    color: #F5FBF2;
    padding-bottom: 20px;
}

.col_2 .row_2,
.col_3 .row_2 {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 36px;
    color: #7B7B7B;
}

.col_2 .row_2:hover,
.col_3 .row_2:hover {
    color: #FFB742;
    cursor: pointer;
    transition: all 0.4s;
}

.col_2 .row_2:active,
.col_3 .row_2:active {
    font-size: 22px;
}

.form {
    display: block;
    max-width: 300px;
}

.form label {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 36px;
    color: #7B7B7B;
}

.form label:hover {
    color: aqua;
    cursor: pointer;
    transition: all 0.4s;
}

.form .email {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 36px;
    color: #7B7B7B;
    width: 300px;
}

.form .button {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 36px;
    color: black;
    background-color: #FFB742;
}

.form .button:hover {
    cursor: pointer;
    color: red;
    background-color: blue;
    transition: all 0.4s;
}

.form .button:active {
    font-size: 22px;
}