body{
    background-color: #FFFFFF 
}

.h1{
    font-family: 'Roboto', sans-serif;
    margin: 80px 0;
    font-size: 40px;
    font-weight: 700;
    top: 985px;
}
.line1{
    width: 380px;
    border-bottom: 5px solid #3E45E8;
}
.header{
    font-family: 'M PLUS 1', sans-serif;
    max-width: 1440px;
    max-height: 110px;
    text-align: center;
    color:#3E45E8;
    font-size: 48px;
    font-weight: 400;
    padding: 25px 0;
}

.header-span{
  color: #E8C23E;
}

.banner{
    height: 803px;
    background-image: url(../img/image\ 1.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 210px;
    box-sizing: border-box;
    padding-left: 80px;
}

.content1{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    border-top: 195px;
    box-sizing: border-box;
    color: white;
    width: 100%;
    font-size: 48px;
    padding-left: 38px;
    height: 136px;   
    background-repeat: no-repeat;    
    background-image: url(../img/Rectangle\ 1.png);            
}

.content2{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    box-sizing: border-box;
    color: white;
    width: 100%;
    font-size: 48px;
    padding-left: 38px;
    height: 136px;
    background-repeat: no-repeat;    
    background-image: url(../img/Rectangle\ 2.png);
}

.main1{
    padding: 0 80px;
    box-sizing: border-box;
    min-width: 1440px;
}

.card{
    border: 0px solid white;
    width: 350px;
    height: 450px;
    top: 33px;
    color: #030303;
    display: inline-block;
    vertical-align:top;
    overflow: hidden;
    border-radius: 30px;
    background-color: #FFFFFF;
    filter: drop-shadow(0px 30px 30px rgba(0, 0, 0, 0.25));
}

.card__image{
    width: 100%;
}

.card_margin{
    margin: 0 40px;
}

.card__title{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #1E8DF2;
    padding: 10px;
    box-sizing: border-box;
}

.card__subtitle{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #E8C23E;
    padding: 10px;
    width: 250px;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #1E8DF2;
}

.h2{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-top: 74px;
}

.line2{
    width: 400px;
    border-bottom: 5px solid #3E45E8;
    margin: 0 auto;
}

.map{
    margin-top: 62px;
}

.button{
    font-family: 'Roboto', sans-serif;
    font-size: 64px;
    font-weight: 700;
    color: #FFFFFF;
    width: 600px;
    height: 120px;
    margin: 0 auto;
    margin-top: 41px;
    border: 0px solid white;
    background-color: #2A61F0;
}

.main2{    
    width: 1440px;
    height: 919px;    
    box-sizing: border-box;
}

.main3{
    background-color: #2F4A4B;
    width: 1440px;
    height: 320px;
    margin-top: 21px;
}

.mail{
    font-family: 'Marcellus SC', serif;
    font-size: 36px;
    font-weight: 400;    
    margin-top: 31px;
    text-align: center;
}

.tel{
    font-family: 'Marcellus SC', serif;
    font-size: 36px;
    font-weight: 400;    
    margin-top: 21px;
    text-align: center;
}

.footer{
    font-family: 'M PLUS 1', sans-serif;
    text-align: center;
    color:#3E45E8;
    font-size: 48px;
    font-weight: 400;
    padding: 0;
}

.socnet{
    display: inline-block;
    margin: 20px 0 0 575px;        
}