.group {
    margin: 0px 0px 35px 0px;
}

.group2_title {
    text-align: center;
}

.full {
    width: 100%;
}

.group3_title {
    text-align: right;
}

.group3_text {
    text-align: center;
}

.group4_title {
    text-align: center;
}

.centered {
    display: block;
    margin: 0 auto;
}