body {
    background-color: #E5E5E5;
    margin: 200px 0 0 200px;
    A display: inline-block;
}

.box1 {
    display: inline-block;
    background-repeat: no-repeat;
}

.box2,
.box3 {
    display: inline-block;
    margin-left: 100px;
}

.box4,
.box5 {
    display: inline-block;
    margin-left: 40px;
}

.inbox1 {
    position: relative;
    width: 512px;
    height: 512px;
    background: #FFCE22;
    display: inline-block;
}

.inbox2 {
    position: relative;
    width: 512px;
    height: 512px;
    background: #FFFFFF;
    display: inline-block;
}

.row2,
.row3,
.row4 {
    margin-top: 100px;
}

.row5 {
    margin-top: 100px;
    margin-bottom: 200px;
    min-width: max-content;
}

.blue1 {
    position: absolute;
    width: 512px;
    height: 256px;
    background: #2137FC;
}

.glyph1 {
    position: absolute;
    box-sizing: border-box;
    padding-left: 60px;
    padding-top: 144px;
}

.blue2 {
    position: absolute;
    width: 444px;
    height: 222px;
    left: 34px;
    top: 34px;
    background: #2137FC;
    border-radius: 50% 50% 0 0 / 100% 100% 0 0;
}

.yellow {
    position: absolute;
    width: 444px;
    height: 222px;
    left: 34px;
    bottom: 34px;
    background: #FFCE22;
    ;
    border-radius: 0 0 50% 50% / 0 0 100% 100%;
}

.glyph2 {
    position: absolute;
    width: 444px;
    box-sizing: border-box;
    padding-left: 74px;
    padding-top: 256px;
}

.group1 {
    position: absolute;
    left: 0%;
    right: 34%;
    top: 12%;
    bottom: 12%;
}

.group2,
.plane2 {
    position: absolute;
    height: 320px;
    left: 23%;
    right: 23%;
    top: 19%;
    bottom: 19%;
}

figcaption {
    font-size: xx-large;
    color: gray;
}

.plane1 {
    position: absolute;
    right: 0%;
    top: 25%;
    bottom: 0%;
}

.vector1 {
    position: absolute;
    left: 18%;
    right: 21%;
    top: 31%;
    bottom: 34%;
}

.vector2 {
    position: absolute;
    left: 20%;
    right: 20%;
    top: 25%;
    bottom: 40%;
}

.inbox3 {
    position: relative;
    width: 512px;
    height: 512px;
    background: #000000;
    display: inline-block;
}

.flag1 {
    position: absolute;
    left: 42.19%;
    right: 42.19%;
    top: 66.99%;
    bottom: 21.29%;
    background: linear-gradient(180deg, #2137FC 0%, #2137FB 50.01%, #FFD84B 50.04%, #FFD84B 100%);
    border-radius: 6px;
}

.flag2 {
    position: absolute;
    left: 4.1%;
    right: 80.27%;
    top: 4.49%;
    bottom: 83.79%;
    background: linear-gradient(180deg, #2137FC 0%, #2137FB 50.01%, #FFD84B 50.04%, #FFD84B 100%);
    border-radius: 6px;
}

.flag3 {
    position: absolute;
    left: 80.27%;
    right: 4.1%;
    top: 5.27%;
    bottom: 83.01%;
    background: linear-gradient(180deg, #2137FC 0%, #2137FB 50.01%, #FFD84B 50.04%, #FFD84B 100%);
    border-radius: 6px;
}